* {
  font-family: montserrat;
  padding: 0px;
  margin: 0px;
}

body::before {
  display: block;
  content: "";
  height: 60px;
  margin: 0;
  padding: 0;
}
.property-title {
  font-weight: 900;
  word-wrap: break-word;
}

/* Swiper Library CSS */
.swiper {
  max-width: 60%;
  max-height: 75%;
}
/* /Swiper */

.container-fluid {
  padding: 0;
}

.btn-dark {
  color: #fff;
   
}  

.newsletter {
  margin-top: 0;
}

.fs-7 {
  font-size: 0.75rem;
}

ul.border {
  border: 3px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.bi-arrow-up-circle {
  color: #dddddd; 
}

.new {
  position: relative;
  top: 0.1em;
  right: 0.2em;
}

/* Navbar Styles */
.navbar {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

.navbar-nav a {
font-size: 15px;
font-weight: 400;
}

.navbar-dark .navbar-brand {
color: #fff;
font-size: 25px;
text-transform: uppercase;
font-weight: 900;
letter-spacing: 2px;
}

.navbar-dark .navbar-brand span {
color: crimson
}

.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover, .navbar-dark .navbar-nav .nav-link:active {
color: crimson;
}

 .nav-link {
  width: 100%;
  font-size: 18px;
  transition: border-bottom 0.3s ease;
  position: relative;
  line-height: 1; 
  vertical-align: baseline; 
  display: inline-block; 
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
} 

 .nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #fff; 
  bottom: -5px; 
  left: 0;
  transition: width 0.3s;
} 

.nav-link:hover {
  color: #fff;
  font-weight: 500;
}

 .nav-link:hover::after {
  width: 100%;
  left: 0%;
} 

/* Custom styles for the dropdown button in nav */
.nav-item.dropdown .dropdown-toggle {
  width: auto; /* Adjust width as needed */
  padding-right: 30px; /* Provide enough space for the dropdown arrow */
  /* Other styling adjustments if needed */
}


/* The Contact Us Styles */

.mapbg{
	position: fixed;
	width: 100vw;
	height: 100vh;
}
.mapbg:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(45deg, rgba(7, 45, 72, 0.8), rgba(195, 195, 195, 0.8));
}

.content{
	position: fixed;
	top: 60px;
	height: calc(100vh - 60px);
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	padding: 20px;
}

.contact{
	width: 80%;
	max-width: 1080px;
	display: flex;
	 box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.28);
 border-radius: 5px;
 overflow: hidden;
}

.other{
min-height: 500px;
background-image: url("./assets/img/business2.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
border-radius: 25px 0px 0px 25px;
position: relative;
display: flex;
flex-direction: column;
justify-content: flex-end;
}

.other:before{
content: "";
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background: linear-gradient(45deg, rgb(36, 51, 66), rgba(36, 51, 66, 0.81));
border-radius: 25px 0px 0px 25px;
}

.info {
  position: relative;
  padding: 20px;
}

.info h2 {
  color: #16f1dc;
  font-size: 34px;
}

.info h3 {
  color: white;
  letter-spacing: 1.2px;
  margin-top:  20px;
}

.svg-wrap {
  display: flex;
  margin-top: 14px;
}

.svg-wrap a {
  border: 0;
  padding: 0;
  display: flex;
  color: #bbbbbb;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  font-style: italic;
}

.svg-wrap a svg {
  width: 20px;
  height: 20px;
  fill: white;
  transition: fill 0.2s ease-in-out;
  margin-right: 13px;
}

.svg-wrap a:hover svg {
  fill: #16f1dc;
  cursor: pointer;
}

.svg-wrap a:hover {
  background-color: transparent;
  color: #16f1dc;
  cursor: pointer;
}

.form{
width: 40%;
background-color: #243342;
padding: 20px;
display: flex;
flex-direction: column;
align-items: flex-end;

}
.form h1{
text-align: center;
margin-bottom: 20px;
width: 100%;
}
.form form{
width: 100%;
display: flex;
flex-direction: column;
align-items: flex-end;
}
.flex-rev {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 10px;
  width: 100%;
}

.flex-rev input, .flex-rev textarea {
  border: none;
  background-color: #e6e6e6;
  padding: 12px 10px;
  font-size: 16px;
  resize: none;
  margin-top: 7px;
  margin-bottom: 16px;
  border-radius: 5px;
  color: #243342;
  outline-color: #243342;
  outline-width: thin;
}

.flex-rev textarea{
height: 150px;
}

button{
margin-right: 0;
}


.w-100 {
height: 100vh;
}

.navbar-toggler {
  /* Reset padding, font-size, and line-height to default */
  padding: 0;
  font-size: inherit;
  line-height: inherit;
}

/* Home Page Carousel */

.carousel{
  min-height: 300px;
  max-height: 700px;
  height: auto;
  padding: 0;
}

.carousel-inner{
  min-height: 300px;
  max-height: 700px;
}

.carousel-item {
height: 100vh;
min-height: 300px;
}

.carousel-caption {
bottom: 220px;
z-index: 2;
}

.carousel-caption h5 {
font-size: 45px;
text-transform: uppercase;
letter-spacing: 2px;
margin-top: 25px;
}
.carousel-caption p {
width: 60%;
margin: auto;
font-size: 18px;
line-height: 1.9;
}
.carousel-caption a {
text-transform: uppercase;
text-decoration: none;
background: crimson;
padding: 5px 20px;
display: inline-block;
color: #fff;
margin-top: 15px;
border-radius: 5px;
}
.carousel-inner:before {
content: '';
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
background: rgba(0, 0, 0, 0.6);
z-index: 1;
}

.delay-1s {
  animation-delay: 1s;
}

.delay-2s {
  animation-delay: 2s;
}

.delay-3s {
  animation-delay: 3s;
}

/* Map and Map Related Information */

#map1 {
width: 100%;
height: 100%;
border-radius: 10px;
}

#map {
  height: 500px;
}

#mapid {
position: relative;
border: 1px solid black;
border-radius: 8px;
max-height: 100%;
width: 100%;
}

.item {
  margin-bottom: 20px;
  display: flex;
}

.item img {
  width: 200px;
  height: 150px;
  margin-right: 10px;
}

.item .content {
  flex: 1;
}

.item .content h3 {
  font-weight: bold;
  margin-top: 0;
}

.item .content p {
  margin: 0;
}

.property-list-container {
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid black;
}

#property-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.property-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.property-item img {
  margin-bottom: 10px;
}

.property-item h4 {
  margin-bottom: 5px;
}

.property-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.highlighted {
  background-color: #f8e9a1;
}

/* This is for the image hover overlay for Eric's Headshot */

.single-team {
position: relative;
height: 400px;
background-size: cover;
background-position: center;
overflow: hidden;
box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.3);
}

.single-team:before {
content: "";
width: 100%;
height: 100%;
background: #161619;
position: absolute;
top: 0;
left: 0;
opacity: 0;
transition: all .35s ease 0s
}

.single-team:hover:before {
opacity: 1
}

.single-team .content {
width: 90%;
height: 90%;
position: absolute;
top: 5%;
left: 5%
}

.single-team .content:after, .single-team .content:before {
content: "";
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
opacity: 0;
transition: all .7s ease 0s
}

.single-team .content:before {
border-bottom: 10px double rgba(255, 255, 255, .5);
border-top: 10px double rgba(255, 255, 255, .5);
transform: scale(0, 1);
transform-origin: 0 0 0
}

.single-team .content:after {
border-left: 10px double rgba(255, 255, 255, .5);
border-right: 10px double rgba(255, 255, 255, .5);
transform: scale(1, 0);
transform-origin: 100% 0 0
}

.single-team:hover .content:after, .single-team:hover .content:before {
opacity: 1;
transform: scale(1);
transition-delay: .15s
}

.single-team h3 {
font-size: 31px;
font-weight: 700;
color: #fff;
margin: 160px 0;
opacity: 0;
transform: translate3d(0, -50px, 0);
transition: transform .5s ease 0s;
text-align: center;
line-height: 1.4;
font-family: 'Montserrat', cursive;
text-transform: uppercase;
}

.single-team h3 span {
font-family: 'Montserrat', sans-serif;
font-size: 18px;
display: block;
letter-spacing: 5px;
opacity: .5;
}

.single-team:hover h3 {
opacity: 1;
transform: translate3d(0, 0, 0)
}

#brokerCard {
background-image: url('img/detective.jpg');
}

/* Testimonial CSS */

.testimonial-container {
  height: 75vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Add this line */
}

/* Add this CSS block for the Testimonials title */

h1 {
  margin-bottom: 30px;
  font-size: 2rem;
  text-align: center;
}

.testimonial {
  position: relative;
  max-width: 900px;
  width: 100%;
  padding: 50px 0;
  overflow: hidden;
}
.testimonial .image {
  height: 170px;
  width: 170px;
  object-fit: cover;
  border-radius: 50%;
  display: block; /* Add this line */
  margin: 0 auto; /* Add this line */
}
.testimonial .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
  height: 100%;
  width: 100%;
}
.testi-slide p {
  text-align: center;
  padding: 0 60px; /* Reduce the padding value */
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
.testi-slide .quote-icon {
  font-size: 30px;
  color: #4070f4;
  display: block; /* Add this line */
  margin: 0 auto; /* Add this line */
  text-align: center; /* Add this line */
}
.testi-slide .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details .name {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}
.details .job {
  font-size: 12px;
  font-weight: 400;
  color: #333;
}
/* swiper button css */

.swiper-slide {
  height: 70vh;
  width: auto;
}

/* Changing the color of the arrows */
.swiper-button-next, .swiper-button-prev {
  color: #ffffff; /* Change to your desired color */
}

/* If the arrows are using background-images (common in Swiper) */
.swiper-button-next:after, .swiper-button-prev:after {
  color: #ffffff; /* Change to your desired color */
}

.nav-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transform: translateY(30px);
  background-color: rgba(253, 253, 253, 0.1);
  transition: 0.2s;
}
.nav-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.nav-btn::after,
.nav-btn::before {
  font-size: 20px;
  color: #fff;
}
.swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.8);
}
.swiper-pagination-bullet-active {
  background-color: #ffffff;
}

@media (max-width: 767px){

  #mapid {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50%;
    width: 100%;
  }

  .swiper-slide {
    height: 35vh;
  }

  .carousel-caption h5 {
    font-size: 35px;
    top: 50%;
    left: 50;
  }

  .carousel-caption a {
    padding: 0px 10px;
    top: 50%;
    left: 50%;
  }

  .carousel-indicators {
    display: none;
  }

  .learn-more-btn {
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  /* Adjust the font size and padding for smaller screens */
  .testi-slide p {
    font-size: 12px;
    padding: 0 10px;
  }
}

@media screen and (max-width: 1200) {
  .navbar .navbar-nav .nav-item {
    display: flex;
  }

  .navbar-nav .nav-item {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .navbar-nav .nav-link {
    padding: 10px;
  }

  .navbar .navbar-collapse {
    display: flex !important;
    flex-basis: 100%;
    justify-content: center;
  }

  .navbar .navbar-nav .nav-item .nav-link {
    padding: 0 0.5em;
  }

  .swiper-slide {
    height: 50vh;
  }
}

@media screen and (min-width: 768px) {

  .news-input {
    width: 50%;
  }

  .carousel-caption {
    bottom: 0px;
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
  }

  .carousel-caption a {
    padding: 10px 25px;
    font-size: 15px;
  }

  .single-team {
    margin-bottom: 30px;
  }
}

/* Adjust height for very small screens */
@media (max-width: 480px) {
  .swiper-slide {
      height: 30vh;
  }
}

@media (max-width: 999px) and (orientation: landscape) {
  .testimonial-container {
    height: auto;
  }
  .testimonial .testi-slide p {
    padding: 0 50px; /* or adjust as needed */
  }
}